apiVersion: v1
kind: Service
metadata:
  name: node-app-service
spec:
  type: NodePort
  selector:
    app: node-app
  ports:
    - name: http
      port: 8080
      targetPort: 3000
  type: LoadBalancer
