apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
        - name: node-app
          image: akashpatial85/node-app:01
          imagePullPolicy: Always
          ports:
            - containerPort: 3000

      containers:
        - name: node-app-2
          image: akashpatial85/node-app:01
          imagePullPolicy: Always
          ports:
            - containerPort: 3001